@font-face {
  font-family: 'font';
  src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'font2';
  src: url('assets/fonts/Poppins-BoldItalic.ttf');
}

body {
  background-color: hsl(0, 0%, 94%);
}

.body {
  height: 60vh;
  background-color: hsl(0, 0%, 100%);
  margin: 20vh 10vw 20vh 10vw;
  border-radius: 2vw 2vh 10vw 2vh;
}

.input {
  display: flex;
  justify-content: space-between;
  padding: 5vh 20vw 0 5vw;
}

.day-input::placeholder, 
.month-input::placeholder, 
.year-input::placeholder{
  font-weight: 800;
  color: rgb(158, 157, 157);
}


.head{
  text-transform: uppercase;
  color: rgb(128, 126, 126);
  font-family:  font;
  letter-spacing: 0.3vw;
  font-size: small;
  font-weight: 600;
  margin-bottom: 1vh;
}

input {
  border: none;
  border: 1px solid rgb(199, 198, 198);
  width: 10vw;
  height: 4vh;
  border-radius: 1vh;
  padding-left: 2vw;
  font-weight: 900;
}

.break-btn {
  display: flex;
}

.break {
  border-bottom: 1px solid rgb(158, 157, 157);
  width: 55vw;
  margin: 0 0 4vh 5vw;
}

.btn {
  height: 8vh;
  width: 8vw;
  padding: 2px;
  border: none;
  background-color: hsl(0, 0%, 100%);
}

img {
  height: 7vh;
  width: 7vw;
}

.output {
  display: flex;
  flex-direction: column;
}

.dashOne {
  color: hsl(204, 83%, 54%);
  font-family: font2;
  font-size: 6vw;
  padding-right: 2vw;
  margin:  auto 0px auto 0px;
}

.dashTwo {
  color: hsl(204, 83%, 54%);
  font-family: font2;
  font-size: 6vw;
  padding-right: 2vw;
  margin:  auto 0px auto 0px;
}

.dashThree {
  color: hsl(204, 83%, 54%);
  font-family: font2;
  font-size: 6vw;
  padding-right: 2vw;
  margin:  auto 0px auto 0px;
}

.yearText {
  color: hsl(0, 0%, 8%);
  font-family: font2;
  font-size: 7vh;
  margin: auto 0px auto 0px
}

.monthText {
  color: hsl(0, 0%, 8%);
  font-family: font2;
  font-size: 7vh;
  margin: auto 0px auto 0px
}

.dayText {
  color: hsl(0, 0%, 8%);
  font-family: font2;
  font-size: 7vh;
  margin: auto 0px auto 0px
}

.output{
  display: flex;
  padding-left: 5vw;
  flex-direction: column;
}

.yearDiv{
  display: flex;
}

.monthDiv{
  display: flex;
}

.dayDiv{
  display: flex;
}